* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Maven Pro, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	tab-size: 4;
	-moz-tab-size: 4;
	background-color:#78B6FB;
}

.main-wrapper {
	height: 60%;
	width: 50%;
	margin: 200 auto;
	padding: 5;
	text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 100px;
    font-family: Montserrat, sans-serif;
    margin: 70px 0 20 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    max-width: 70%;
    margin: auto;
    line-height: 1.5em;
}

.wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.title-wrapper{
	width:65%;
	float:left;
	height:100%;
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: white;
    text-align: center;
    border-style: solid;
}

.form-wrapper{
	width:35%;
	float:left;
	height:100%;
	margin: auto;
	padding:0;
    box-sizing: border-box;
    background-color: #FDFDFD;
}

.form-center-wrapper {
  margin: 60% auto;
}

.userForm {
  background:#eee;
  border:0;
  margin:6px 6px 6px 0px ; /* t r b l */
  padding:5px;
  height: 5%;

}

.button {
	border-radius: 2em;
	padding: 10px 20px;
	margin: 15px 30px 15px 0;
	height: auto;
	transition: all .2s;
	text-decoration: none;
	display: inline-block;
	border-width: 1;
}

.button:hover {
	transform: scale(1.05);
}

.button:active {
	transform: translateY(2px);
}

.button.blue {
	background-color: #009ae6;
	color: white;
}

.button.blue:hover {
	background-color: #00aaff;
}

.button.big {
	font-size: 125%;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 50px;
	margin-right: 20px;
}

.button {
	font-size: 18px;
	padding: 12px 30px;
}

.form-subtext {
    font-size: 13px;
    color: #6B6B6C;
    max-width: 80%;
    margin: auto;
}
