* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.maindiv {
    text-align: center;
    height: 100%;
    padding: 5 5 0 5;
}

.filters {
    width: 20%;
    height: 100%;
    float:left;
    background-color:#78B6FB;
    border-right: solid;
    border-color: white;
}

.foundtweets {
    margin:20px 0px 0px 10px;
    height: 20%;
    max-width: 90%;
    color: white;
}

pre {
  display: block;
  font-family: Montserrat, sans-serif;
  margin: 1em 0;
  white-space: pre-wrap;
  text-align:left;
}

.searchwords {
    height: 20%;
    width: 100%;
    margin: 60px 0px 0px 0px;
}

.keyword-container {
  max-width: 70%; /* helps wrap the tags in a specific width */
  max-height: 100px;
  text-align: center;
  margin: auto;
  overflow: auto;
}

.dashfolio-keyword {
  text-align: center;
  cursor:pointer;
  background-color: blue;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  margin-top: 3px; /*incase keywords go in next line, will space */
  color:#fff;
  margin-right: 4px;
  background:#789;
  padding-right: 20px; /* adds space inside the keywords for the 'x' button */
}

.dashfolio-keyword:hover{
  opacity:0.7;
}

.dashfolio-keyword:after {
 position:absolute;
 content:"×";
 padding:2px 2px;
 margin-left:2px;
 font-size:11px;
}

#add-keyword-input {
  background:#F3F3F6;
  border:0;
  margin:6px 6px 6px 0px ; /* t r b l */
  padding:5px;
  width: 90%;
  height: 30%;
}

.sentimentSliderContainer {
  width: 100%; /* Width of the outside container */
  height: 60%;
  margin: auto;
}

#sentimentSlider{
  margin: 0 0 0 30;
  height:300px;
}

.noUi-value {
 /* text labels on slider */
 color: white;
 font-size: 16px;
 font-weight: bold;
}

.noUi-touch-area {
    /* slider handle */
    background: #D4D5E6;
}

.noUi-connects {
    /* slider bar */
    background: #F3F3F6;
}

.tweets {
    width: 80%;
    height: 100%;
    float:left;
    font-family: Montserrat, sans-serif;
    padding: 0 5 0 5;
}

.navbar {
    height: 10%;
    width: 100%;
    background-color:#78B6FB;
    color: white;
    padding: 20px 0 0 0;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    margin: auto;
}

.tweetsTable {
    margin: 2% 2% 0 2%;
}

table.dataTable.stripe table.dataTable tr.odd {
    /* Odd rows in tweets table*/
    background-color: #78B6FB;
}